In [26]:
import pandas as pd
import json
import numpy

In [27]:
results_df = pd.read_csv("federalelections2016_bystate.csv")

In [28]:
results_df.head()

,2016 PRESIDENTIAL ELECTORAL AND POPULAR VOTE,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,USE,USE,NaN,NaN,NaN
1,STATE,ELECTORAL VOTE,ELECTORAL VOTE,POPULAR VOTE,POPULAR VOTE,POPULAR VOTE,POPULAR VOTE,NaN
2,NaN,Trump (R),Clinton (D),Trump (R),Clinton (D),All Others,Total Vote,NaN
3,AL,9,NaN,"1,318,255","729,547","75,570","2,123,372",NaN
4,AK,3,NaN,"163,387","116,454","38,767","318,608",NaN

In [29]:
results_df = results_df.drop([0, 1, 2, 54, 55, 56, 57, 58, 59, 60], axis=0)

In [30]:
results_df = results_df.drop('Unnamed: 7', 1)

In [31]:
results_df

,2016 PRESIDENTIAL ELECTORAL AND POPULAR VOTE,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
3,AL,9,NaN,"1,318,255","729,547","75,570","2,123,372"
4,AK,3,NaN,"163,387","116,454","38,767","318,608"
5,AZ,11,NaN,"1,252,401","1,161,167","159,597","2,573,165"
6,AR,6,NaN,"684,872","380,494","65,310","1,130,676"
7,CA,NaN,55,"4,483,814","8,753,792","943,998","14,181,604"
8,CO,NaN,9,"1,202,484","1,338,870","238,893","2,780,247"
9,CT,NaN,7,"673,215","897,572","74,133","1,644,920"
10,DE,NaN,3,"185,127","235,603","23,084","443,814"
11,DC,NaN,3,"12,723","282,830","15,715","311,268"
12,FL,29,NaN,"4,617,886","4,504,975","297,178","9,420,039"
13,GA,16,NaN,"2,089,104","1,877,963","147,665","4,114,732"
14,HI,NaN,3**,"128,847","266,891","33,199","428,937"
15,ID,4,NaN,"409,055","189,765","91,435","690,255"
16,IL,NaN,20,"2,146,015","3,090,729","299,680","5,536,424"
17,IN,11,NaN,"1,557,286","1,033,126","144,546","2,734,958"
18,IA,6,NaN,"800,983","653,669","111,379","1,566,031"
19,KS,6,NaN,"671,018","427,005","86,379","1,184,402"
20,KY,8,NaN,"1,202,971","628,854","92,324","1,924,149"
21,LA,8,NaN,"1,178,638","780,154","70,240","2,029,032"
22,ME,1,3,"335,593","357,735","54,599","747,927"
23,MD,NaN,10,"943,169","1,677,928","160,349","2,781,446"
24,MA,NaN,11,"1,090,893","1,995,196","238,957","3,325,046"
25,MI,16,NaN,"2,279,543","2,268,839","250,902","4,799,284"
26,MN,NaN,10,"1,322,951","1,367,716","254,146","2,944,813"
27,MS,6,NaN,"700,714","485,131","23,512","1,209,357"
28,MO,10,NaN,"1,594,511","1,071,068","143,026","2,808,605"
29,MT,3,NaN,"279,240","177,709","40,198","497,147"
30,NE,5,NaN,"495,961","284,494","63,772","844,227"
31,NV,NaN,6,"512,058","539,260","74,067","1,125,385"
32,NH,NaN,4,"345,790","348,526","49,980","744,296"
33,NJ,NaN,14,"1,601,933","2,148,278","123,835","3,874,046"
34,NM,NaN,5,"319,667","385,234","93,418","798,319"
35,NY,NaN,29,"2,819,533","4,556,118","345,791","7,721,442"
36,NC,15,NaN,"2,362,631","2,189,316","189,617","4,741,564"
37,ND,3,NaN,"216,794","93,758","33,808","344,360"
38,OH,18,NaN,"2,841,005","2,394,164","261,318","5,496,487"
39,OK,7,NaN,"949,136","420,375","83,481","1,452,992"
40,OR,NaN,7,"782,403","1,002,106","216,827","2,001,336"
41,PA,20,NaN,"2,970,733","2,926,441","268,304","6,165,478"
42,RI,NaN,4,"180,543","252,525","31,076","464,144"
43,SC,9,NaN,"1,155,389","855,373","92,265","2,103,027"
44,SD,3,NaN,"227,721","117,458","24,914","370,093"
45,TN,11,NaN,"1,522,925","870,695","114,407","2,508,027"
46,TX,36*,NaN,"4,685,047","3,877,868","406,311","8,969,226"
47,UT,6,NaN,"515,231","310,676","305,523","1,131,430"
48,VT,NaN,3,"95,369","178,573","41,125","315,067"
49,VA,NaN,13,"1,769,443","1,981,473","233,715","3,984,631"
50,WA,NaN,8**,"1,221,747","1,742,718","352,554","3,317,019"
51,WV,5,NaN,"489,371","188,794","36,258","714,423"
52,WI,10,NaN,"1,405,284","1,382,536","188,330","2,976,150"
53,WY,3,NaN,"174,419","55,973","25,457","255,849"

In [32]:
results_df = results_df.rename(columns={'2016 PRESIDENTIAL ELECTORAL AND POPULAR VOTE': 'State', 'Unnamed: 1': 'EV_Rep', 'Unnamed: 2': 'EV_Dem','Unnamed: 3': 'PV_Rep','Unnamed: 4': 'PV_Dem','Unnamed: 5': 'PV_Other','Unnamed: 6': 'PV_Total',})

In [33]:
results_df=results_df.reset_index(drop=True)

In [34]:
results_df

   State EV_Rep EV_Dem     PV_Rep     PV_Dem PV_Other    PV_Total
0     AL      9    NaN  1,318,255    729,547   75,570   2,123,372
1     AK      3    NaN    163,387    116,454   38,767     318,608
2     AZ     11    NaN  1,252,401  1,161,167  159,597   2,573,165
3     AR      6    NaN    684,872    380,494   65,310   1,130,676
4     CA    NaN     55  4,483,814  8,753,792  943,998  14,181,604
5     CO    NaN      9  1,202,484  1,338,870  238,893   2,780,247
6     CT    NaN      7    673,215    897,572   74,133   1,644,920
7     DE    NaN      3    185,127    235,603   23,084     443,814
8     DC    NaN      3     12,723    282,830   15,715     311,268
9     FL     29    NaN  4,617,886  4,504,975  297,178   9,420,039
10    GA     16    NaN  2,089,104  1,877,963  147,665   4,114,732
11    HI    NaN    3**    128,847    266,891   33,199     428,937
12    ID      4    NaN    409,055    189,765   91,435     690,255
13    IL    NaN     20  2,146,015  3,090,729  299,680   5,536,424
14    IN     11    NaN  1,557,286  1,033,126  144,546   2,734,958
15    IA      6    NaN    800,983    653,669  111,379   1,566,031
16    KS      6    NaN    671,018    427,005   86,379   1,184,402
17    KY      8    NaN  1,202,971    628,854   92,324   1,924,149
18    LA      8    NaN  1,178,638    780,154   70,240   2,029,032
19    ME      1      3    335,593    357,735   54,599     747,927
20    MD    NaN     10    943,169  1,677,928  160,349   2,781,446
21    MA    NaN     11  1,090,893  1,995,196  238,957   3,325,046
22    MI     16    NaN  2,279,543  2,268,839  250,902   4,799,284
23    MN    NaN     10  1,322,951  1,367,716  254,146   2,944,813
24    MS      6    NaN    700,714    485,131   23,512   1,209,357
25    MO     10    NaN  1,594,511  1,071,068  143,026   2,808,605
26    MT      3    NaN    279,240    177,709   40,198     497,147
27    NE      5    NaN    495,961    284,494   63,772     844,227
28    NV    NaN      6    512,058    539,260   74,067   1,125,385
29    NH    NaN      4    345,790    348,526   49,980     744,296
30    NJ    NaN     14  1,601,933  2,148,278  123,835   3,874,046
31    NM    NaN      5    319,667    385,234   93,418     798,319
32    NY    NaN     29  2,819,533  4,556,118  345,791   7,721,442
33    NC     15    NaN  2,362,631  2,189,316  189,617   4,741,564
34    ND      3    NaN    216,794     93,758   33,808     344,360
35    OH     18    NaN  2,841,005  2,394,164  261,318   5,496,487
36    OK      7    NaN    949,136    420,375   83,481   1,452,992
37    OR    NaN      7    782,403  1,002,106  216,827   2,001,336
38    PA     20    NaN  2,970,733  2,926,441  268,304   6,165,478
39    RI    NaN      4    180,543    252,525   31,076     464,144
40    SC      9    NaN  1,155,389    855,373   92,265   2,103,027
41    SD      3    NaN    227,721    117,458   24,914     370,093
42    TN     11    NaN  1,522,925    870,695  114,407   2,508,027
43    TX    36*    NaN  4,685,047  3,877,868  406,311   8,969,226
44    UT      6    NaN    515,231    310,676  305,523   1,131,430
45    VT    NaN      3     95,369    178,573   41,125     315,067
46    VA    NaN     13  1,769,443  1,981,473  233,715   3,984,631
47    WA    NaN    8**  1,221,747  1,742,718  352,554   3,317,019
48    WV      5    NaN    489,371    188,794   36,258     714,423
49    WI     10    NaN  1,405,284  1,382,536  188,330   2,976,150
50    WY      3    NaN    174,419     55,973   25,457     255,849

In [35]:
abb_df = pd.read_csv("state_abb_list.csv")

In [36]:
abb_df

             State Abb   State Capital
0          Alabama  AL      Montgomery
1           Alaska  AK          Juneau
2          Arizona  AZ         Phoenix
3         Arkansas  AR     Little Rock
4       California  CA      Sacramento
5         Colorado  CO          Denver
6      Connecticut  CT        Hartford
7         Delaware  DE           Dover
8          Florida  FL     Tallahassee
9          Georgia  GA         Atlanta
10          Hawaii  HI        Honolulu
11           Idaho  ID           Boise
12        Illinois  IL     Springfield
13         Indiana  IN    Indianapolis
14            Iowa  IA      Des Moines
15          Kansas  KS          Topeka
16        Kentucky  KY       Frankfort
17       Louisiana  LA     Baton Rouge
18           Maine  ME         Augusta
19        Maryland  MD       Annapolis
20   Massachusetts  MA          Boston
21        Michigan  MI         Lansing
22       Minnesota  MN        St. Paul
23     Mississippi  MS         Jackson
24        Missouri  MO  Jefferson City
25         Montana  MT          Helena
26        Nebraska  NE         Lincoln
27          Nevada  NV     Carson City
28   New Hampshire  NH         Concord
29      New Jersey  NJ         Trenton
30      New Mexico  NM        Santa Fe
31        New York  NY          Albany
32  North Carolina  NC         Raleigh
33    North Dakota  ND        Bismarck
34            Ohio  OH        Columbus
35        Oklahoma  OK   Oklahoma City
36          Oregon  OR           Salem
37    Pennsylvania  PA      Harrisburg
38    Rhode Island  RI      Providence
39  South Carolina  SC        Columbia
40    South Dakota  SD          Pierre
41       Tennessee  TN       Nashville
42           Texas  TX          Austin
43            Utah  UT  Salt Lake City
44         Vermont  VT      Montpelier
45        Virginia  VA        Richmond
46      Washington  WA         Olympia
47   West Virginia  WV      Charleston
48       Wisconsin  WI         Madison
49         Wyoming  WY        Cheyenne

In [37]:
combined_df = pd.merge(results_df, abb_df, how='left', left_on='State', right_on='Abb')

In [38]:
combined_df

,State_x,EV_Rep,EV_Dem,PV_Rep,PV_Dem,PV_Other,PV_Total,State_y,Abb,State Capital
0,AL,9,NaN,"1,318,255","729,547","75,570","2,123,372",Alabama,AL,Montgomery
1,AK,3,NaN,"163,387","116,454","38,767","318,608",Alaska,AK,Juneau
2,AZ,11,NaN,"1,252,401","1,161,167","159,597","2,573,165",Arizona,AZ,Phoenix
3,AR,6,NaN,"684,872","380,494","65,310","1,130,676",Arkansas,AR,Little Rock
4,CA,NaN,55,"4,483,814","8,753,792","943,998","14,181,604",California,CA,Sacramento
5,CO,NaN,9,"1,202,484","1,338,870","238,893","2,780,247",Colorado,CO,Denver
6,CT,NaN,7,"673,215","897,572","74,133","1,644,920",Connecticut,CT,Hartford
7,DE,NaN,3,"185,127","235,603","23,084","443,814",Delaware,DE,Dover
8,DC,NaN,3,"12,723","282,830","15,715","311,268",NaN,NaN,NaN
9,FL,29,NaN,"4,617,886","4,504,975","297,178","9,420,039",Florida,FL,Tallahassee
10,GA,16,NaN,"2,089,104","1,877,963","147,665","4,114,732",Georgia,GA,Atlanta
11,HI,NaN,3**,"128,847","266,891","33,199","428,937",Hawaii,HI,Honolulu
12,ID,4,NaN,"409,055","189,765","91,435","690,255",Idaho,ID,Boise
13,IL,NaN,20,"2,146,015","3,090,729","299,680","5,536,424",Illinois,IL,Springfield
14,IN,11,NaN,"1,557,286","1,033,126","144,546","2,734,958",Indiana,IN,Indianapolis
15,IA,6,NaN,"800,983","653,669","111,379","1,566,031",Iowa,IA,Des Moines
16,KS,6,NaN,"671,018","427,005","86,379","1,184,402",Kansas,KS,Topeka
17,KY,8,NaN,"1,202,971","628,854","92,324","1,924,149",Kentucky,KY,Frankfort
18,LA,8,NaN,"1,178,638","780,154","70,240","2,029,032",Louisiana,LA,Baton Rouge
19,ME,1,3,"335,593","357,735","54,599","747,927",Maine,ME,Augusta
20,MD,NaN,10,"943,169","1,677,928","160,349","2,781,446",Maryland,MD,Annapolis
21,MA,NaN,11,"1,090,893","1,995,196","238,957","3,325,046",Massachusetts,MA,Boston
22,MI,16,NaN,"2,279,543","2,268,839","250,902","4,799,284",Michigan,MI,Lansing
23,MN,NaN,10,"1,322,951","1,367,716","254,146","2,944,813",Minnesota,MN,St. Paul
24,MS,6,NaN,"700,714","485,131","23,512","1,209,357",Mississippi,MS,Jackson
25,MO,10,NaN,"1,594,511","1,071,068","143,026","2,808,605",Missouri,MO,Jefferson City
26,MT,3,NaN,"279,240","177,709","40,198","497,147",Montana,MT,Helena
27,NE,5,NaN,"495,961","284,494","63,772","844,227",Nebraska,NE,Lincoln
28,NV,NaN,6,"512,058","539,260","74,067","1,125,385",Nevada,NV,Carson City
29,NH,NaN,4,"345,790","348,526","49,980","744,296",New Hampshire,NH,Concord
30,NJ,NaN,14,"1,601,933","2,148,278","123,835","3,874,046",New Jersey,NJ,Trenton
31,NM,NaN,5,"319,667","385,234","93,418","798,319",New Mexico,NM,Santa Fe
32,NY,NaN,29,"2,819,533","4,556,118","345,791","7,721,442",New York,NY,Albany
33,NC,15,NaN,"2,362,631","2,189,316","189,617","4,741,564",North Carolina,NC,Raleigh
34,ND,3,NaN,"216,794","93,758","33,808","344,360",North Dakota,ND,Bismarck
35,OH,18,NaN,"2,841,005","2,394,164","261,318","5,496,487",Ohio,OH,Columbus
36,OK,7,NaN,"949,136","420,375","83,481","1,452,992",Oklahoma,OK,Oklahoma City
37,OR,NaN,7,"782,403","1,002,106","216,827","2,001,336",Oregon,OR,Salem
38,PA,20,NaN,"2,970,733","2,926,441","268,304","6,165,478",Pennsylvania,PA,Harrisburg
39,RI,NaN,4,"180,543","252,525","31,076","464,144",Rhode Island,RI,Providence
40,SC,9,NaN,"1,155,389","855,373","92,265","2,103,027",South Carolina,SC,Columbia
41,SD,3,NaN,"227,721","117,458","24,914","370,093",South Dakota,SD,Pierre
42,TN,11,NaN,"1,522,925","870,695","114,407","2,508,027",Tennessee,TN,Nashville
43,TX,36*,NaN,"4,685,047","3,877,868","406,311","8,969,226",Texas,TX,Austin
44,UT,6,NaN,"515,231","310,676","305,523","1,131,430",Utah,UT,Salt Lake City
45,VT,NaN,3,"95,369","178,573","41,125","315,067",Vermont,VT,Montpelier
46,VA,NaN,13,"1,769,443","1,981,473","233,715","3,984,631",Virginia,VA,Richmond
47,WA,NaN,8**,"1,221,747","1,742,718","352,554","3,317,019",Washington,WA,Olympia
48,WV,5,NaN,"489,371","188,794","36,258","714,423",West Virginia,WV,Charleston
49,WI,10,NaN,"1,405,284","1,382,536","188,330","2,976,150",Wisconsin,WI,Madison
50,WY,3,NaN,"174,419","55,973","25,457","255,849",Wyoming,WY,Cheyenne

In [39]:
combined_df = combined_df.drop('Abb', 1)

In [40]:
combined_df = combined_df.rename(columns={'State_x': 'Abb', 'State_y': "State"})

In [41]:
combined_df.loc[8, "State"] = "District of Columbia"

In [42]:
combined_df

,Abb,EV_Rep,EV_Dem,PV_Rep,PV_Dem,PV_Other,PV_Total,State,State Capital
0,AL,9,NaN,"1,318,255","729,547","75,570","2,123,372",Alabama,Montgomery
1,AK,3,NaN,"163,387","116,454","38,767","318,608",Alaska,Juneau
2,AZ,11,NaN,"1,252,401","1,161,167","159,597","2,573,165",Arizona,Phoenix
3,AR,6,NaN,"684,872","380,494","65,310","1,130,676",Arkansas,Little Rock
4,CA,NaN,55,"4,483,814","8,753,792","943,998","14,181,604",California,Sacramento
5,CO,NaN,9,"1,202,484","1,338,870","238,893","2,780,247",Colorado,Denver
6,CT,NaN,7,"673,215","897,572","74,133","1,644,920",Connecticut,Hartford
7,DE,NaN,3,"185,127","235,603","23,084","443,814",Delaware,Dover
8,DC,NaN,3,"12,723","282,830","15,715","311,268",District of Columbia,NaN
9,FL,29,NaN,"4,617,886","4,504,975","297,178","9,420,039",Florida,Tallahassee
10,GA,16,NaN,"2,089,104","1,877,963","147,665","4,114,732",Georgia,Atlanta
11,HI,NaN,3**,"128,847","266,891","33,199","428,937",Hawaii,Honolulu
12,ID,4,NaN,"409,055","189,765","91,435","690,255",Idaho,Boise
13,IL,NaN,20,"2,146,015","3,090,729","299,680","5,536,424",Illinois,Springfield
14,IN,11,NaN,"1,557,286","1,033,126","144,546","2,734,958",Indiana,Indianapolis
15,IA,6,NaN,"800,983","653,669","111,379","1,566,031",Iowa,Des Moines
16,KS,6,NaN,"671,018","427,005","86,379","1,184,402",Kansas,Topeka
17,KY,8,NaN,"1,202,971","628,854","92,324","1,924,149",Kentucky,Frankfort
18,LA,8,NaN,"1,178,638","780,154","70,240","2,029,032",Louisiana,Baton Rouge
19,ME,1,3,"335,593","357,735","54,599","747,927",Maine,Augusta
20,MD,NaN,10,"943,169","1,677,928","160,349","2,781,446",Maryland,Annapolis
21,MA,NaN,11,"1,090,893","1,995,196","238,957","3,325,046",Massachusetts,Boston
22,MI,16,NaN,"2,279,543","2,268,839","250,902","4,799,284",Michigan,Lansing
23,MN,NaN,10,"1,322,951","1,367,716","254,146","2,944,813",Minnesota,St. Paul
24,MS,6,NaN,"700,714","485,131","23,512","1,209,357",Mississippi,Jackson
25,MO,10,NaN,"1,594,511","1,071,068","143,026","2,808,605",Missouri,Jefferson City
26,MT,3,NaN,"279,240","177,709","40,198","497,147",Montana,Helena
27,NE,5,NaN,"495,961","284,494","63,772","844,227",Nebraska,Lincoln
28,NV,NaN,6,"512,058","539,260","74,067","1,125,385",Nevada,Carson City
29,NH,NaN,4,"345,790","348,526","49,980","744,296",New Hampshire,Concord
30,NJ,NaN,14,"1,601,933","2,148,278","123,835","3,874,046",New Jersey,Trenton
31,NM,NaN,5,"319,667","385,234","93,418","798,319",New Mexico,Santa Fe
32,NY,NaN,29,"2,819,533","4,556,118","345,791","7,721,442",New York,Albany
33,NC,15,NaN,"2,362,631","2,189,316","189,617","4,741,564",North Carolina,Raleigh
34,ND,3,NaN,"216,794","93,758","33,808","344,360",North Dakota,Bismarck
35,OH,18,NaN,"2,841,005","2,394,164","261,318","5,496,487",Ohio,Columbus
36,OK,7,NaN,"949,136","420,375","83,481","1,452,992",Oklahoma,Oklahoma City
37,OR,NaN,7,"782,403","1,002,106","216,827","2,001,336",Oregon,Salem
38,PA,20,NaN,"2,970,733","2,926,441","268,304","6,165,478",Pennsylvania,Harrisburg
39,RI,NaN,4,"180,543","252,525","31,076","464,144",Rhode Island,Providence
40,SC,9,NaN,"1,155,389","855,373","92,265","2,103,027",South Carolina,Columbia
41,SD,3,NaN,"227,721","117,458","24,914","370,093",South Dakota,Pierre
42,TN,11,NaN,"1,522,925","870,695","114,407","2,508,027",Tennessee,Nashville
43,TX,36*,NaN,"4,685,047","3,877,868","406,311","8,969,226",Texas,Austin
44,UT,6,NaN,"515,231","310,676","305,523","1,131,430",Utah,Salt Lake City
45,VT,NaN,3,"95,369","178,573","41,125","315,067",Vermont,Montpelier
46,VA,NaN,13,"1,769,443","1,981,473","233,715","3,984,631",Virginia,Richmond
47,WA,NaN,8**,"1,221,747","1,742,718","352,554","3,317,019",Washington,Olympia
48,WV,5,NaN,"489,371","188,794","36,258","714,423",West Virginia,Charleston
49,WI,10,NaN,"1,405,284","1,382,536","188,330","2,976,150",Wisconsin,Madison
50,WY,3,NaN,"174,419","55,973","25,457","255,849",Wyoming,Cheyenne

In [49]:
combined_df.dtypes

Abb              object
EV_Rep           object
EV_Dem           object
PV_Rep           object
PV_Dem           object
PV_Other         object
PV_Total         object
State            object
State Capital    object
dtype: object

In [50]:
# Cast objects as strings
combined_df['PV_Rep'] = combined_df['PV_Rep'].str.replace(",", "")
combined_df['PV_Dem'] = combined_df['PV_Dem'].str.replace(",", "")
combined_df['PV_Other'] = combined_df['PV_Other'].str.replace(",", "")
combined_df['PV_Total'] = combined_df['PV_Total'].str.replace(",", "")

In [51]:
combined_df.dtypes

Abb              object
EV_Rep           object
EV_Dem           object
PV_Rep           object
PV_Dem           object
PV_Other         object
PV_Total         object
State            object
State Capital    object
dtype: object

In [59]:
combined_df['PV_Rep'] = combined_df['PV_Rep'].astype(int)
combined_df['PV_Dem'] = combined_df['PV_Dem'].astype(int)
combined_df['PV_Other'] = combined_df['PV_Other'].astype(int)
combined_df['PV_Total'] = combined_df['PV_Total'].astype(int)

In [64]:
combined_df['Per_Rep'] = round(combined_df['PV_Rep'] / combined_df['PV_Total'] * 100, 2)
combined_df['Per_Dem'] = round(combined_df['PV_Dem'] / combined_df['PV_Total'] * 100, 2)
combined_df['Per_Other'] = round(combined_df['PV_Other'] / combined_df['PV_Total'] * 100, 2)

0     62.08
1     51.28
2     48.67
3     60.57
4     31.62
5     43.25
6     40.93
7     41.71
8      4.09
9     49.02
10    50.77
11    30.04
12    59.26
13    38.76
14    56.94
15    51.15
16    56.65
17    62.52
18    58.09
19    44.87
20    33.91
21    32.81
22    47.50
23    44.92
24    57.94
25    56.77
26    56.17
27    58.75
28    45.50
29    46.46
30    41.35
31    40.04
32    36.52
33    49.83
34    62.96
35    51.69
36    65.32
37    39.09
38    48.18
39    38.90
40    54.94
41    61.53
42    60.72
43    52.23
44    45.54
45    30.27
46    44.41
47    36.83
48    68.50
49    47.22
50    68.17
Name: Per_Rep, dtype: float64

In [66]:
combined_df.to_csv ("../static/js/cleaned_federal_elections.csv")

In [67]:
result = combined_df.to_json(orient="table")
parsed = json.loads(result)
json.dumps(parsed, indent=4)

'{\n    "schema": {\n        "fields": [\n            {\n                "name": "index",\n                "type": "integer"\n            },\n            {\n                "name": "Abb",\n                "type": "string"\n            },\n            {\n                "name": "EV_Rep",\n                "type": "string"\n            },\n            {\n                "name": "EV_Dem",\n                "type": "string"\n            },\n            {\n                "name": "PV_Rep",\n                "type": "integer"\n            },\n            {\n                "name": "PV_Dem",\n                "type": "integer"\n            },\n            {\n                "name": "PV_Other",\n                "type": "integer"\n            },\n            {\n                "name": "PV_Total",\n                "type": "integer"\n            },\n            {\n                "name": "State",\n                "type": "string"\n            },\n            {\n                "name": "State Capital",\n                "type": "string"\n            },\n            {\n                "name": "Per_Rep",\n                "type": "number"\n            },\n            {\n                "name": "Per_Dem",\n                "type": "number"\n            },\n            {\n                "name": "Per_Other",\n                "type": "number"\n            }\n        ],\n        "primaryKey": [\n            "index"\n        ],\n        "pandas_version": "0.20.0"\n    },\n    "data": [\n        {\n            "index": 0,\n            "Abb": "AL",\n            "EV_Rep": "9",\n            "EV_Dem": null,\n            "PV_Rep": 1318255,\n            "PV_Dem": 729547,\n            "PV_Other": 75570,\n            "PV_Total": 2123372,\n            "State": "Alabama",\n            "State Capital": "Montgomery",\n            "Per_Rep": 62.08,\n            "Per_Dem": 34.36,\n            "Per_Other": 3.56\n        },\n        {\n            "index": 1,\n            "Abb": "AK",\n            "EV_Rep": "3",\n            "EV_Dem": null,\n            "PV_Rep": 163387,\n            "PV_Dem": 116454,\n            "PV_Other": 38767,\n            "PV_Total": 318608,\n            "State": "Alaska",\n            "State Capital": "Juneau",\n            "Per_Rep": 51.28,\n            "Per_Dem": 36.55,\n            "Per_Other": 12.17\n        },\n        {\n            "index": 2,\n            "Abb": "AZ",\n            "EV_Rep": "11",\n            "EV_Dem": null,\n            "PV_Rep": 1252401,\n            "PV_Dem": 1161167,\n            "PV_Other": 159597,\n            "PV_Total": 2573165,\n            "State": "Arizona",\n            "State Capital": "Phoenix",\n            "Per_Rep": 48.67,\n            "Per_Dem": 45.13,\n            "Per_Other": 6.2\n        },\n        {\n            "index": 3,\n            "Abb": "AR",\n            "EV_Rep": "6",\n            "EV_Dem": null,\n            "PV_Rep": 684872,\n            "PV_Dem": 380494,\n            "PV_Other": 65310,\n            "PV_Total": 1130676,\n            "State": "Arkansas",\n            "State Capital": "Little Rock",\n            "Per_Rep": 60.57,\n            "Per_Dem": 33.65,\n            "Per_Other": 5.78\n        },\n        {\n            "index": 4,\n            "Abb": "CA",\n            "EV_Rep": null,\n            "EV_Dem": "55",\n            "PV_Rep": 4483814,\n            "PV_Dem": 8753792,\n            "PV_Other": 943998,\n            "PV_Total": 14181604,\n            "State": "California",\n            "State Capital": "Sacramento",\n            "Per_Rep": 31.62,\n            "Per_Dem": 61.73,\n            "Per_Other": 6.66\n        },\n        {\n            "index": 5,\n            "Abb": "CO",\n            "EV_Rep": null,\n            "EV_Dem": "9",\n            "PV_Rep": 1202484,\n            "PV_Dem": 1338870,\n            "PV_Other": 238893,\n            "PV_Total": 2780247,\n            "State": "Colorado",\n            "State Capital": "Denver",\n            "Per_Rep": 43.25,\n            "Per_Dem": 48.16,\n            "Per_Other": 8.59\n        },\n        {\n            "index": 6,\n            "Abb": "CT",\n            "EV_Rep": null,\n            "EV_Dem": "7",\n            "PV_Rep": 673215,\n            "PV_Dem": 897572,\n            "PV_Other": 74133,\n            "PV_Total": 1644920,\n            "State": "Connecticut",\n            "State Capital": "Hartford",\n            "Per_Rep": 40.93,\n            "Per_Dem": 54.57,\n            "Per_Other": 4.51\n        },\n        {\n            "index": 7,\n            "Abb": "DE",\n            "EV_Rep": null,\n            "EV_Dem": "3",\n            "PV_Rep": 185127,\n            "PV_Dem": 235603,\n            "PV_Other": 23084,\n            "PV_Total": 443814,\n            "State": "Delaware",\n            "State Capital": "Dover",\n            "Per_Rep": 41.71,\n            "Per_Dem": 53.09,\n            "Per_Other": 5.2\n        },\n        {\n            "index": 8,\n            "Abb": "DC",\n            "EV_Rep": null,\n            "EV_Dem": "3",\n            "PV_Rep": 12723,\n            "PV_Dem": 282830,\n            "PV_Other": 15715,\n            "PV_Total": 311268,\n            "State": "District of Columbia",\n            "State Capital": null,\n            "Per_Rep": 4.09,\n            "Per_Dem": 90.86,\n            "Per_Other": 5.05\n        },\n        {\n            "index": 9,\n            "Abb": "FL",\n            "EV_Rep": "29",\n            "EV_Dem": null,\n            "PV_Rep": 4617886,\n            "PV_Dem": 4504975,\n            "PV_Other": 297178,\n            "PV_Total": 9420039,\n            "State": "Florida",\n            "State Capital": "Tallahassee",\n            "Per_Rep": 49.02,\n            "Per_Dem": 47.82,\n            "Per_Other": 3.15\n        },\n        {\n            "index": 10,\n            "Abb": "GA",\n            "EV_Rep": "16",\n            "EV_Dem": null,\n            "PV_Rep": 2089104,\n            "PV_Dem": 1877963,\n            "PV_Other": 147665,\n            "PV_Total": 4114732,\n            "State": "Georgia",\n            "State Capital": "Atlanta",\n            "Per_Rep": 50.77,\n            "Per_Dem": 45.64,\n            "Per_Other": 3.59\n        },\n        {\n            "index": 11,\n            "Abb": "HI",\n            "EV_Rep": null,\n            "EV_Dem": "3**",\n            "PV_Rep": 128847,\n            "PV_Dem": 266891,\n            "PV_Other": 33199,\n            "PV_Total": 428937,\n            "State": "Hawaii",\n            "State Capital": "Honolulu",\n            "Per_Rep": 30.04,\n            "Per_Dem": 62.22,\n            "Per_Other": 7.74\n        },\n        {\n            "index": 12,\n            "Abb": "ID",\n            "EV_Rep": "4",\n            "EV_Dem": null,\n            "PV_Rep": 409055,\n            "PV_Dem": 189765,\n            "PV_Other": 91435,\n            "PV_Total": 690255,\n            "State": "Idaho",\n            "State Capital": "Boise",\n            "Per_Rep": 59.26,\n            "Per_Dem": 27.49,\n            "Per_Other": 13.25\n        },\n        {\n            "index": 13,\n            "Abb": "IL",\n            "EV_Rep": null,\n            "EV_Dem": "20",\n            "PV_Rep": 2146015,\n            "PV_Dem": 3090729,\n            "PV_Other": 299680,\n            "PV_Total": 5536424,\n            "State": "Illinois",\n            "State Capital": "Springfield",\n            "Per_Rep": 38.76,\n            "Per_Dem": 55.83,\n            "Per_Other": 5.41\n        },\n        {\n            "index": 14,\n            "Abb": "IN",\n            "EV_Rep": "11",\n            "EV_Dem": null,\n            "PV_Rep": 1557286,\n            "PV_Dem": 1033126,\n            "PV_Other": 144546,\n            "PV_Total": 2734958,\n            "State": "Indiana",\n            "State Capital": "Indianapolis",\n            "Per_Rep": 56.94,\n            "Per_Dem": 37.77,\n            "Per_Other": 5.29\n        },\n        {\n            "index": 15,\n            "Abb": "IA",\n            "EV_Rep": "6",\n            "EV_Dem": null,\n            "PV_Rep": 800983,\n            "PV_Dem": 653669,\n            "PV_Other": 111379,\n            "PV_Total": 1566031,\n            "State": "Iowa",\n            "State Capital": "Des Moines",\n            "Per_Rep": 51.15,\n            "Per_Dem": 41.74,\n            "Per_Other": 7.11\n        },\n        {\n            "index": 16,\n            "Abb": "KS",\n            "EV_Rep": "6",\n            "EV_Dem": null,\n            "PV_Rep": 671018,\n            "PV_Dem": 427005,\n            "PV_Other": 86379,\n            "PV_Total": 1184402,\n            "State": "Kansas",\n            "State Capital": "Topeka",\n            "Per_Rep": 56.65,\n            "Per_Dem": 36.05,\n            "Per_Other": 7.29\n        },\n        {\n            "index": 17,\n            "Abb": "KY",\n            "EV_Rep": "8",\n            "EV_Dem": null,\n            "PV_Rep": 1202971,\n            "PV_Dem": 628854,\n            "PV_Other": 92324,\n            "PV_Total": 1924149,\n            "State": "Kentucky",\n            "State Capital": "Frankfort",\n            "Per_Rep": 62.52,\n            "Per_Dem": 32.68,\n            "Per_Other": 4.8\n        },\n        {\n            "index": 18,\n            "Abb": "LA",\n            "EV_Rep": "8",\n            "EV_Dem": null,\n            "PV_Rep": 1178638,\n            "PV_Dem": 780154,\n            "PV_Other": 70240,\n            "PV_Total": 2029032,\n            "State": "Louisiana",\n            "State Capital": "Baton Rouge",\n            "Per_Rep": 58.09,\n            "Per_Dem": 38.45,\n            "Per_Other": 3.46\n        },\n        {\n            "index": 19,\n            "Abb": "ME",\n            "EV_Rep": "1",\n            "EV_Dem": "3",\n            "PV_Rep": 335593,\n            "PV_Dem": 357735,\n            "PV_Other": 54599,\n            "PV_Total": 747927,\n            "State": "Maine",\n            "State Capital": "Augusta",\n            "Per_Rep": 44.87,\n            "Per_Dem": 47.83,\n            "Per_Other": 7.3\n        },\n        {\n            "index": 20,\n            "Abb": "MD",\n            "EV_Rep": null,\n            "EV_Dem": "10",\n            "PV_Rep": 943169,\n            "PV_Dem": 1677928,\n            "PV_Other": 160349,\n            "PV_Total": 2781446,\n            "State": "Maryland",\n            "State Capital": "Annapolis",\n            "Per_Rep": 33.91,\n            "Per_Dem": 60.33,\n            "Per_Other": 5.76\n        },\n        {\n            "index": 21,\n            "Abb": "MA",\n            "EV_Rep": null,\n            "EV_Dem": "11",\n            "PV_Rep": 1090893,\n            "PV_Dem": 1995196,\n            "PV_Other": 238957,\n            "PV_Total": 3325046,\n            "State": "Massachusetts",\n            "State Capital": "Boston",\n            "Per_Rep": 32.81,\n            "Per_Dem": 60.01,\n            "Per_Other": 7.19\n        },\n        {\n            "index": 22,\n            "Abb": "MI",\n            "EV_Rep": "16",\n            "EV_Dem": null,\n            "PV_Rep": 2279543,\n            "PV_Dem": 2268839,\n            "PV_Other": 250902,\n            "PV_Total": 4799284,\n            "State": "Michigan",\n            "State Capital": "Lansing",\n            "Per_Rep": 47.5,\n            "Per_Dem": 47.27,\n            "Per_Other": 5.23\n        },\n        {\n            "index": 23,\n            "Abb": "MN",\n            "EV_Rep": null,\n            "EV_Dem": "10",\n            "PV_Rep": 1322951,\n            "PV_Dem": 1367716,\n            "PV_Other": 254146,\n            "PV_Total": 2944813,\n            "State": "Minnesota",\n            "State Capital": "St. Paul",\n            "Per_Rep": 44.92,\n            "Per_Dem": 46.44,\n            "Per_Other": 8.63\n        },\n        {\n            "index": 24,\n            "Abb": "MS",\n            "EV_Rep": "6",\n            "EV_Dem": null,\n            "PV_Rep": 700714,\n            "PV_Dem": 485131,\n            "PV_Other": 23512,\n            "PV_Total": 1209357,\n            "State": "Mississippi",\n            "State Capital": "Jackson",\n            "Per_Rep": 57.94,\n            "Per_Dem": 40.11,\n            "Per_Other": 1.94\n        },\n        {\n            "index": 25,\n            "Abb": "MO",\n            "EV_Rep": "10",\n            "EV_Dem": null,\n            "PV_Rep": 1594511,\n            "PV_Dem": 1071068,\n            "PV_Other": 143026,\n            "PV_Total": 2808605,\n            "State": "Missouri",\n            "State Capital": "Jefferson City",\n            "Per_Rep": 56.77,\n            "Per_Dem": 38.14,\n            "Per_Other": 5.09\n        },\n        {\n            "index": 26,\n            "Abb": "MT",\n            "EV_Rep": "3",\n            "EV_Dem": null,\n            "PV_Rep": 279240,\n            "PV_Dem": 177709,\n            "PV_Other": 40198,\n            "PV_Total": 497147,\n            "State": "Montana",\n            "State Capital": "Helena",\n            "Per_Rep": 56.17,\n            "Per_Dem": 35.75,\n            "Per_Other": 8.09\n        },\n        {\n            "index": 27,\n            "Abb": "NE",\n            "EV_Rep": "5",\n            "EV_Dem": null,\n            "PV_Rep": 495961,\n            "PV_Dem": 284494,\n            "PV_Other": 63772,\n            "PV_Total": 844227,\n            "State": "Nebraska",\n            "State Capital": "Lincoln",\n            "Per_Rep": 58.75,\n            "Per_Dem": 33.7,\n            "Per_Other": 7.55\n        },\n        {\n            "index": 28,\n            "Abb": "NV",\n            "EV_Rep": null,\n            "EV_Dem": "6",\n            "PV_Rep": 512058,\n            "PV_Dem": 539260,\n            "PV_Other": 74067,\n            "PV_Total": 1125385,\n            "State": "Nevada",\n            "State Capital": "Carson City",\n            "Per_Rep": 45.5,\n            "Per_Dem": 47.92,\n            "Per_Other": 6.58\n        },\n        {\n            "index": 29,\n            "Abb": "NH",\n            "EV_Rep": null,\n            "EV_Dem": "4",\n            "PV_Rep": 345790,\n            "PV_Dem": 348526,\n            "PV_Other": 49980,\n            "PV_Total": 744296,\n            "State": "New Hampshire",\n            "State Capital": "Concord",\n            "Per_Rep": 46.46,\n            "Per_Dem": 46.83,\n            "Per_Other": 6.72\n        },\n        {\n            "index": 30,\n            "Abb": "NJ",\n            "EV_Rep": null,\n            "EV_Dem": "14",\n            "PV_Rep": 1601933,\n            "PV_Dem": 2148278,\n            "PV_Other": 123835,\n            "PV_Total": 3874046,\n            "State": "New Jersey",\n            "State Capital": "Trenton",\n            "Per_Rep": 41.35,\n            "Per_Dem": 55.45,\n            "Per_Other": 3.2\n        },\n        {\n            "index": 31,\n            "Abb": "NM",\n            "EV_Rep": null,\n            "EV_Dem": "5",\n            "PV_Rep": 319667,\n            "PV_Dem": 385234,\n            "PV_Other": 93418,\n            "PV_Total": 798319,\n            "State": "New Mexico",\n            "State Capital": "Santa Fe",\n            "Per_Rep": 40.04,\n            "Per_Dem": 48.26,\n            "Per_Other": 11.7\n        },\n        {\n            "index": 32,\n            "Abb": "NY",\n            "EV_Rep": null,\n            "EV_Dem": "29",\n            "PV_Rep": 2819533,\n            "PV_Dem": 4556118,\n            "PV_Other": 345791,\n            "PV_Total": 7721442,\n            "State": "New York",\n            "State Capital": "Albany",\n            "Per_Rep": 36.52,\n            "Per_Dem": 59.01,\n            "Per_Other": 4.48\n        },\n        {\n            "index": 33,\n            "Abb": "NC",\n            "EV_Rep": "15",\n            "EV_Dem": null,\n            "PV_Rep": 2362631,\n            "PV_Dem": 2189316,\n            "PV_Other": 189617,\n            "PV_Total": 4741564,\n            "State": "North Carolina",\n            "State Capital": "Raleigh",\n            "Per_Rep": 49.83,\n            "Per_Dem": 46.17,\n            "Per_Other": 4.0\n        },\n        {\n            "index": 34,\n            "Abb": "ND",\n            "EV_Rep": "3",\n            "EV_Dem": null,\n            "PV_Rep": 216794,\n            "PV_Dem": 93758,\n            "PV_Other": 33808,\n            "PV_Total": 344360,\n            "State": "North Dakota",\n            "State Capital": "Bismarck",\n            "Per_Rep": 62.96,\n            "Per_Dem": 27.23,\n            "Per_Other": 9.82\n        },\n        {\n            "index": 35,\n            "Abb": "OH",\n            "EV_Rep": "18",\n            "EV_Dem": null,\n            "PV_Rep": 2841005,\n            "PV_Dem": 2394164,\n            "PV_Other": 261318,\n            "PV_Total": 5496487,\n            "State": "Ohio",\n            "State Capital": "Columbus",\n            "Per_Rep": 51.69,\n            "Per_Dem": 43.56,\n            "Per_Other": 4.75\n        },\n        {\n            "index": 36,\n            "Abb": "OK",\n            "EV_Rep": "7",\n            "EV_Dem": null,\n            "PV_Rep": 949136,\n            "PV_Dem": 420375,\n            "PV_Other": 83481,\n            "PV_Total": 1452992,\n            "State": "Oklahoma",\n            "State Capital": "Oklahoma City",\n            "Per_Rep": 65.32,\n            "Per_Dem": 28.93,\n            "Per_Other": 5.75\n        },\n        {\n            "index": 37,\n            "Abb": "OR",\n            "EV_Rep": null,\n            "EV_Dem": "7",\n            "PV_Rep": 782403,\n            "PV_Dem": 1002106,\n            "PV_Other": 216827,\n            "PV_Total": 2001336,\n            "State": "Oregon",\n            "State Capital": "Salem",\n            "Per_Rep": 39.09,\n            "Per_Dem": 50.07,\n            "Per_Other": 10.83\n        },\n        {\n            "index": 38,\n            "Abb": "PA",\n            "EV_Rep": "20",\n            "EV_Dem": null,\n            "PV_Rep": 2970733,\n            "PV_Dem": 2926441,\n            "PV_Other": 268304,\n            "PV_Total": 6165478,\n            "State": "Pennsylvania",\n            "State Capital": "Harrisburg",\n            "Per_Rep": 48.18,\n            "Per_Dem": 47.46,\n            "Per_Other": 4.35\n        },\n        {\n            "index": 39,\n            "Abb": "RI",\n            "EV_Rep": null,\n            "EV_Dem": "4",\n            "PV_Rep": 180543,\n            "PV_Dem": 252525,\n            "PV_Other": 31076,\n            "PV_Total": 464144,\n            "State": "Rhode Island",\n            "State Capital": "Providence",\n            "Per_Rep": 38.9,\n            "Per_Dem": 54.41,\n            "Per_Other": 6.7\n        },\n        {\n            "index": 40,\n            "Abb": "SC",\n            "EV_Rep": "9",\n            "EV_Dem": null,\n            "PV_Rep": 1155389,\n            "PV_Dem": 855373,\n            "PV_Other": 92265,\n            "PV_Total": 2103027,\n            "State": "South Carolina",\n            "State Capital": "Columbia",\n            "Per_Rep": 54.94,\n            "Per_Dem": 40.67,\n            "Per_Other": 4.39\n        },\n        {\n            "index": 41,\n            "Abb": "SD",\n            "EV_Rep": "3",\n            "EV_Dem": null,\n            "PV_Rep": 227721,\n            "PV_Dem": 117458,\n            "PV_Other": 24914,\n            "PV_Total": 370093,\n            "State": "South Dakota",\n            "State Capital": "Pierre",\n            "Per_Rep": 61.53,\n            "Per_Dem": 31.74,\n            "Per_Other": 6.73\n        },\n        {\n            "index": 42,\n            "Abb": "TN",\n            "EV_Rep": "11",\n            "EV_Dem": null,\n            "PV_Rep": 1522925,\n            "PV_Dem": 870695,\n            "PV_Other": 114407,\n            "PV_Total": 2508027,\n            "State": "Tennessee",\n            "State Capital": "Nashville",\n            "Per_Rep": 60.72,\n            "Per_Dem": 34.72,\n            "Per_Other": 4

In [68]:
combined_df.to_json (r'C:\Users\Pete\Desktop\impact_of_covid-19_on_unemp_rate_and_cpi\Peter\Static\js\election_parsed_data.json')

In [69]:
combined_df

,Abb,EV_Rep,EV_Dem,PV_Rep,PV_Dem,PV_Other,PV_Total,State,State Capital,Per_Rep,Per_Dem,Per_Other
0,AL,9,NaN,1318255,729547,75570,2123372,Alabama,Montgomery,62.08,34.36,3.56
1,AK,3,NaN,163387,116454,38767,318608,Alaska,Juneau,51.28,36.55,12.17
2,AZ,11,NaN,1252401,1161167,159597,2573165,Arizona,Phoenix,48.67,45.13,6.20
3,AR,6,NaN,684872,380494,65310,1130676,Arkansas,Little Rock,60.57,33.65,5.78
4,CA,NaN,55,4483814,8753792,943998,14181604,California,Sacramento,31.62,61.73,6.66
5,CO,NaN,9,1202484,1338870,238893,2780247,Colorado,Denver,43.25,48.16,8.59
6,CT,NaN,7,673215,897572,74133,1644920,Connecticut,Hartford,40.93,54.57,4.51
7,DE,NaN,3,185127,235603,23084,443814,Delaware,Dover,41.71,53.09,5.20
8,DC,NaN,3,12723,282830,15715,311268,District of Columbia,NaN,4.09,90.86,5.05
9,FL,29,NaN,4617886,4504975,297178,9420039,Florida,Tallahassee,49.02,47.82,3.15
10,GA,16,NaN,2089104,1877963,147665,4114732,Georgia,Atlanta,50.77,45.64,3.59
11,HI,NaN,3**,128847,266891,33199,428937,Hawaii,Honolulu,30.04,62.22,7.74
12,ID,4,NaN,409055,189765,91435,690255,Idaho,Boise,59.26,27.49,13.25
13,IL,NaN,20,2146015,3090729,299680,5536424,Illinois,Springfield,38.76,55.83,5.41
14,IN,11,NaN,1557286,1033126,144546,2734958,Indiana,Indianapolis,56.94,37.77,5.29
15,IA,6,NaN,800983,653669,111379,1566031,Iowa,Des Moines,51.15,41.74,7.11
16,KS,6,NaN,671018,427005,86379,1184402,Kansas,Topeka,56.65,36.05,7.29
17,KY,8,NaN,1202971,628854,92324,1924149,Kentucky,Frankfort,62.52,32.68,4.80
18,LA,8,NaN,1178638,780154,70240,2029032,Louisiana,Baton Rouge,58.09,38.45,3.46
19,ME,1,3,335593,357735,54599,747927,Maine,Augusta,44.87,47.83,7.30
20,MD,NaN,10,943169,1677928,160349,2781446,Maryland,Annapolis,33.91,60.33,5.76
21,MA,NaN,11,1090893,1995196,238957,3325046,Massachusetts,Boston,32.81,60.01,7.19
22,MI,16,NaN,2279543,2268839,250902,4799284,Michigan,Lansing,47.50,47.27,5.23
23,MN,NaN,10,1322951,1367716,254146,2944813,Minnesota,St. Paul,44.92,46.44,8.63
24,MS,6,NaN,700714,485131,23512,1209357,Mississippi,Jackson,57.94,40.11,1.94
25,MO,10,NaN,1594511,1071068,143026,2808605,Missouri,Jefferson City,56.77,38.14,5.09
26,MT,3,NaN,279240,177709,40198,497147,Montana,Helena,56.17,35.75,8.09
27,NE,5,NaN,495961,284494,63772,844227,Nebraska,Lincoln,58.75,33.70,7.55
28,NV,NaN,6,512058,539260,74067,1125385,Nevada,Carson City,45.50,47.92,6.58
29,NH,NaN,4,345790,348526,49980,744296,New Hampshire,Concord,46.46,46.83,6.72
30,NJ,NaN,14,1601933,2148278,123835,3874046,New Jersey,Trenton,41.35,55.45,3.20
31,NM,NaN,5,319667,385234,93418,798319,New Mexico,Santa Fe,40.04,48.26,11.70
32,NY,NaN,29,2819533,4556118,345791,7721442,New York,Albany,36.52,59.01,4.48
33,NC,15,NaN,2362631,2189316,189617,4741564,North Carolina,Raleigh,49.83,46.17,4.00
34,ND,3,NaN,216794,93758,33808,344360,North Dakota,Bismarck,62.96,27.23,9.82
35,OH,18,NaN,2841005,2394164,261318,5496487,Ohio,Columbus,51.69,43.56,4.75
36,OK,7,NaN,949136,420375,83481,1452992,Oklahoma,Oklahoma City,65.32,28.93,5.75
37,OR,NaN,7,782403,1002106,216827,2001336,Oregon,Salem,39.09,50.07,10.83
38,PA,20,NaN,2970733,2926441,268304,6165478,Pennsylvania,Harrisburg,48.18,47.46,4.35
39,RI,NaN,4,180543,252525,31076,464144,Rhode Island,Providence,38.90,54.41,6.70
40,SC,9,NaN,1155389,855373,92265,2103027,South Carolina,Columbia,54.94,40.67,4.39
41,SD,3,NaN,227721,117458,24914,370093,South Dakota,Pierre,61.53,31.74,6.73
42,TN,11,NaN,1522925,870695,114407,2508027,Tennessee,Nashville,60.72,34.72,4.56
43,TX,36*,NaN,4685047,3877868,406311,8969226,Texas,Austin,52.23,43.24,4.53
44,UT,6,NaN,515231,310676,305523,1131430,Utah,Salt Lake City,45.54,27.46,27.00
45,VT,NaN,3,95369,178573,41125,315067,Vermont,Montpelier,30.27,56.68,13.05
46,VA,NaN,13,1769443,1981473,233715,3984631,Virginia,Richmond,44.41,49.73,5.87
47,WA,NaN,8**,1221747,1742718,352554,3317019,Washington,Olympia,36.83,52.54,10.63
48,WV,5,NaN,489371,188794,36258,714423,West Virginia,Charleston,68.50,26.43,5.08
49,WI,10,NaN,1405284,1382536,188330,2976150,Wisconsin,Madison,47.22,46.45,6.33
50,WY,3,NaN,174419,55973,25457,255849,Wyoming,Cheyenne,68.17,21.88,9.95

In [ ]:
test_df = pd.read_json('parsed_data.json')

In [ ]:
test_df